<h1>OpenLigaDB Client</h1>

<h2>1. Bundesliga 2018/19</h2>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Team</th>
            <th>Won</th>
            <th>Draw</th>
            <th>Lost</th>
            <th>Goals</th>
            <th>Points</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let team of table; index as i">
            <td>{{i}}.</td>
            <td>{{team.teamName}}</td>
            <td>{{team.won}}</td>
            <td>{{team.draw}}</td>
            <td>{{team.lost}}</td>
            <td>{{team.goals}} / {{team.opponentGoals}}</td>
            <td>{{team.points}}</td>
        </tr>
    </tbody>
</table>